{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Reservas</title>
    <link rel="stylesheet" href="{% static 'css/styles_myadmin.css' %}">
</head>
<body>
    <div class="container">
        <h1>Lista de Reservas</h1>
        <table>
            <thead>
                <tr>
                    <th>Habitación</th>
                    <th>Nombre del Cliente</th>
                    <th>Fecha de Inicio</th>
                    <th>Fecha de Fin</th>
                    <th>Número de Personas</th>
                    <th>Estado</th>
                    <th>Acciones</th> <!-- Nueva columna para acciones -->
                </tr>
            </thead>
            <tbody>
                {% for reserva in reservas %}
                <tr>
                    <td>{{ reserva.habitacion.numero }}</td>
                    <td>{{ reserva.usuario }}</td>
                    <td>{{ reserva.fecha_inicio }}</td>
                    <td>{{ reserva.fecha_fin }}</td>
                    <td>{{ reserva.numero_huespedes }}</td>
                    <td>{{ reserva.estado }}</td>
                    <td>
                        <a href="{% url 'editar_reserva' reserva.id %}" class="btn btn-warning">Editar</a>
                        <a href="{% url 'eliminar_reserva' reserva.id %}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'crear_reserva' %}" class="btn">Crear Nueva Reserva</a>
    </div>
</body>
</html>