<!-- myapp/templates/myapp/reset_password_confirm.html -->
{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmar Restablecimiento de Contraseña</title>
    <link rel="stylesheet" href="{% static 'css/styles_cuenta.css' %}">
</head>
<body>
    <div class="container">
        <h2>Confirmar Restablecimiento de Contraseña</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Restablecer Contraseña</button>
        </form>
        <p>¿Ya tienes una cuenta? <a href="{% url 'login' %}">Iniciar Sesión</a></p>
    </div>
</body>
</html>